# Python
__pycache__/
*.py[cod]
*.pyo
.venv/

# Environment
.env
*.env.local

# IDE
.idea/
.vscode/
*.swp

# Docker
docker/postgres/data/

# Alembic
alembic/versions/*.py

# Coverage
.coverage
htmlcov/

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/
